<div class="profile-box">
  <a href="/admin/profile-after">Back to Profile</a>
</div>
<div class="form-pages">
  <div class="form-titles">
    <h2>Employee Details</h2>
  </div>
  <div class="form-standard-details">
    <div>
      <label>Hire Date:</label>
      <br />
      <p class="details-boxes">{{employee.hireDate}}</p>
      <br />
      <label>Employee ID:</label>
      <br />
      <p class="details-boxes">{{employee.employeeID}}</p>
      <br />
      <label>Full Name:</label>
      <br />
      <p class="details-boxes">{{employee.fullName}}</p>
      <br />
      <label>Username:</label>
      <br />
      <p class="details-boxes">{{employee.username}}</p>
    </div>
    <div>
      <label>Role:</label>
      <br />
      <p class="details-boxes">{{employee.role}}</p>
      <br />
      <label>Status:</label>
      <br />
      <p class="details-boxes">{{employee.status}}</p>
      <br />
      <label>Auth Status:</label>
      <br />
      <p class="details-boxes">{{employee.privilege}}</p>
      <br />
      <label>Reports To:</label>
      <br />
      <p class="details-boxes">{{employee.reportsTo}}</p>
    </div>
  </div>
  <button class="reg-button-details"><a
      href="/admin/{{employee._id}}/edit-employee"
    >Edit Employee</a></button>
</div>