<h1>Company Roster</h1>
<h3>Managers</h3>
{{#each managers}}
  <ul>
    <a href="/admin/{{_id}}">{{fullName}}</a>
  </ul>
{{/each}}
<hr />
<h3>Front of House</h3>
{{#each frontOfHouse}}
  <ul>
    <a href="/admin/{{_id}}">{{fullName}}</a>
  </ul>
{{/each}}
<h3>Back of House</h3>
{{#each backOfHouse}}
  <ul>
    <a href="/admin/{{_id}}">{{fullName}}</a>
  </ul>
{{/each}}
<h3>Schedules</h3>
{{#each foundSchedule}}
  <ul>
    <a href="/admin/schedule/{{_id}}">{{date}}</a>
  </ul>
{{/each}}