<h1 class="roster">Company Roster</h1>
<div class="roster-boxes">
    <div class="houses">
      <h3>Managers</h3>
      {{#each managers}}
        <a href="/employee/{{_id}}">{{fullName}}</a>
      {{/each}}
    </div>
    <div class="houses">
    <h3>Front of House</h3>
    {{#each frontOfHouse}}
      <a href="/employee/{{_id}}">{{fullName}}</a>
    {{/each}}
  </div>
  <div class="houses">
    <h3>Back of House</h3>
    {{#each backOfHouse}}
      <a href="/employee/{{_id}}">{{fullName}}</a>
    {{/each}}
  </div>
</div>