<h2>Employee Details</h2>
Employee ID:
{{employee.employeeID}}
<br />
Username:
{{employee.username}}
<br />
Full Name:
{{employee.fullName}}
<br />
Role:
{{employee.role}}
<br />
Status:
{{employee.status}}
<br />
Hire Date:
{{employee.hireDate}}
<br />
Reports To:
{{employee.reportsTo}}
<br />
<button><a href="/employee/{{employee._id}}/edit-employee">Edit Employee</a></button>