<div class="profile-box">
  <a href="/admin/profile-after">Back to Profile</a>
</div>
<div class="form-pages">
  <div class="form-titles">
    <h2>Daily Schedule</h2>
  </div>
  <table class="schedule-details">
    <thead>
      <tr>
        <th>
          {{staff.date}}
          <br />
          {{dayOfWeek}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><label>Managers</label></td>
      </tr>
      <tr>
        <td class="details-boxes">
          {{#each staff}}
            {{#each mgr}}
              <ul>{{this}}</ul>
            {{/each}}
          {{/each}}
        </td>
      </tr>
      <td><label>Front of House</label></td>
      <tr>
        <td class="details-boxes">
          {{#each staff}}
            {{#each foh}}
              <ul>{{this}}</ul>
            {{/each}}
          {{/each}}
        </td>
      </tr>
      <td><label>Back of House</label></td>
      <tr>
        <td class="details-boxes">
          {{#each staff}}
            {{#each boh}}
              <ul>{{this}}</ul>
            {{/each}}
          {{/each}}
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <button class="reg-button-details"><a
      href="/admin/schedule/{{staff._id}}/edit-schedule"
    >Edit Schedule</a></button>
</div>