<div class="profile-box">
  <a href="/employee/profile-after">Back to Profile</a>
</div>
<div class="form-pages">
  <div class="form-titles">
    <h2>Edit Schedule</h2>
  </div>
  <div class="schedule-details">
<form
  method="POST"
  action="/employee/schedule/{{foundSchedule._id}}/edit-schedule"
>
  <label>Managers</label>
  <br />
  <select class="login-box" multiple name="mgr">
    {{#each managers}}
      <option value="{{fullName}}">{{fullName}}</option>
    {{/each}}
  </select>
  <br />
  <label>Front of House</label>
  <br />
  <select class="login-box" multiple name="foh">
    {{#each frontOfHouse}}
      <option value="{{fullName}}">{{fullName}}</option>
    {{/each}}
  </select>
  <br />
  <label>Back of House</label>
  <br />
  <select class="login-box" multiple name="boh">
    {{#each backOfHouse}}
      <option value="{{fullName}}">{{fullName}}</option>
    {{/each}}
  </select>
  <br />
  <button class="reg-button-duo" type="submit">Confirm Changes</button>
</form>
<form class="delete-button" method="POST" action="/employee/schedule/{{foundSchedule._id}}/delete">
  <button type="submit">Delete Schedule</button>
</form>
</div>
</div>